[submodule "Pytorch-UNet"]
	path = Pytorch-UNet
	url = https://github.com/littsk/Pytorch-UNet.git
[submodule "trans_unet/TransUNet"]
	path = trans_unet/TransUNet
	url = https://github.com/littsk/TransUNet.git
[submodule "nnUNet"]
	path = nnUNet
	url = https://github.com/littsk/nnUNet.git
